
html{
  scroll-behavior: smooth;
}

body {}

main {
    height: 100vh;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

main {
    scrollbar-width: none;
    /* для Firefox */
    -ms-overflow-style: none;
    /* для IE и Edge */
}

main::-webkit-scrollbar {
    display: none;
    /* для Chrome, Safari и Opera */
}

* {
    font-family: "Inter", sans-serif;
    color: rgb(255, 255, 255);
}

h2 {
    font-size: 50px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -1.8%;
}

section,
header,
footer {
    padding: 0 calc(50% - 720px);
}

section {
    height: 100vh;
    scroll-snap-align: center;
}

.header {
    width: 100%;
    position: fixed;
    z-index: 10;
}

.header-navigation {
    display: flex;
    justify-content: space-between;
}

.header-blur {
  width: 100%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1);
}


.header-navigation-button-jobs {
    position: relative;
    padding: 0 20px 0 43px; 
    font-size: 12px;
    font-weight: 900;
    line-height: 14.4px;
    border-radius: 9px;
    border: 1px solid  rgb(0, 42, 219);
    margin: 0px 0 0 15px;
    letter-spacing: 3px;
    height: 44px;
}

.header-navigation-button-jobs::before{
    position: absolute;
    left: 14px;
    top: 13px;
    content: url('../assets/header/Group\ 1000004742.svg');
    margin: 0 15px 0 0;
}


.header-navigation-button-join-us{
    position: relative;
    padding: 0 20px 0 43px; 
    letter-spacing: 3px;
    height: 44px;
    font-size: 12px;
    font-weight: 900;
    line-height: 14.4px;
    border-radius: 9px;
    border: 1px solid  rgb(0, 42, 219);
    margin: 0px 0 0 15px;

}
.header-navigation-button-hidden{
    visibility:hidden;
    letter-spacing: 3px;
    height: 44px;
    font-size: 12px;
    font-weight: 900;
    line-height: 14.4px;
    border-radius: 9px;
    border: 1px solid  rgb(0, 42, 219);
    margin: 0px 0 0 15px;

}

.header-navigation-button-join-us::before{
    content: url('../assets/header/+.svg');
    margin: 0 15px 0 0;
    position: absolute;
    left: 14px;
    top: 13px;
}

.header-navigation-button-plau{
    position: relative;
    padding: 0 20px 0 43px; 
    letter-spacing: 3px;
    height: 44px;
    font-size: 12px;
    font-weight: 900;
    line-height: 14.4px;
    border-radius: 9px;
    border: 1px solid  rgb(0, 42, 219);
    margin: 0px 0 0 15px;
}

.header-navigation-button-plau::before{
    content: url('../assets/header/Polygon\ 1.svg');
    margin: 0 15px 0 0;
    position: absolute;
    left: 14px;
    top: 13px;
}


/* girland */
.girland-box{
    position: relative;
    z-index: 20;
}


.girlandItem{
    margin: 0 0 40px 0;
}
.girland1{
    position: absolute;
    top: 0;  
    left: 0;
}
.girland2{
  position: absolute;  
  top: 2px;
    left: 30px;
}
.girland3{
  position: absolute; 
  top: 2px;
left: 30px; 
}
.girland4{
  position: absolute;  
  top: 8px;
  left: 71px;
}
.girland5{
  position: absolute; 
  top: 14px;
  left: 111px; 
}
.girland6{
  position: absolute;  
  top: 19px;
  left: 149px;
}
.girland7{
  position: absolute;  
  top: 21px;
  left: 185px;
}
.girland8{
  position: absolute; 
  top: 22px;
  left: 221px;
}
.girland9{
  position: absolute;  
  top: 25px;
  left: 257px;
}
.girland10{
  position: absolute;  
  top: 24px;
  left: 296px;
}
.girland11{
  position: absolute;
  top: 23px;
  left: 332px
}
.girland12{
  position: absolute;  
  top: 21px;
  left: 370px;
}
.girland13{
  position: absolute;
  top: 15px;
  left: 410px;
  transform: rotate(-24deg); 
}
.girland14{
  position: absolute;  
  top: 11px;
  left: 449px;
  transform: rotate(-38deg)
}
.girland15{
  position: absolute;
  top: 11px;
  left: 503px;
  transform: rotate(13deg);
}
.girland16{
  position: absolute;
  top: 16px;
  left: 543px;
  transform: rotate(-5deg);
}
.girland17{
  position: absolute;
  top: 20px;
  left: 580px;
  transform: rotate(8deg);
}
.girland18{
  position: absolute;
  top: 23px;
  left: 620px;
  transform: rotate(-5deg);
}
.girland19{
  position: absolute;  
  top: 24px;
  left: 657px;
  transform: rotate(-5deg);
}
.girland20{
  position: absolute;  
  top: 25px;
  left: 696px;
  transform: rotate(-5deg);
}
.girland21{
  position: absolute;
  top: 24px;
  left: 732px;
  transform: rotate(-26deg)
}
.girland22{
  position: absolute;  
  top: 21px;
  left: 768px;
  transform: rotate(-21deg);
}
.girland23{
  position: absolute;  
  top: 19px;
  left: 804px;
  transform: rotate(-21deg);
}
.girland24{
  position: absolute;  
  top: 14px;
  left: 841px;
  transform: rotate(-21deg);
}
.girland25{
  position: absolute;  
  top: 11px;
  left: 881px;
  transform: rotate(-21deg);
}
.girland26{
  position: absolute;  
  top: 3px;
  left: 922px;
  transform: rotate(-21deg); 
}
.girland27{
    position: absolute;  
    top: 12px;
    left: 974px;
    transform: rotate(6deg) 
}
.girland28{
    position: absolute;  
    top: 19px;
    left: 1015px;
    transform: rotate(6deg); 
}
.girland29{
  position: absolute;  
  top: 25px;
  left: 1055px;
  transform: rotate(-9deg)
}
.girland30{
    position: absolute;  
    top: 29px;
    left: 1095px;
    transform: rotate(-5deg);
}
.girland31{
    position: absolute;  
    top: 29px;
    left: 1133px;
    transform: rotate(-5deg);
}
.girland32{
    position: absolute;  
    top: 30px;
    left: 1173px;
    transform: rotate(-5deg);
}
.girland33{
  position: absolute;  
  top: 29px;
  left: 1210px;
  transform: rotate(-27deg);
}
.girland34{
  position: absolute;  
  top: 26px;
  left: 1247px;
  transform: rotate(-17deg);
}
.girland35{
  position: absolute;  
  top: 23px;
  left: 1286px;
  transform: rotate(-17deg);  
}
.girland36{
  position: absolute;  
  top: 18px;
  left: 1325px;
  transform: rotate(-17deg); 
}
.girland37{
    position: absolute;  
    top: 13px;
    left: 1366px;
    transform: rotate(-17deg); 
  }
  .girland38{
    position: absolute;  
    top: 4px;
    left: 1409px;
    transform: rotate(-17deg); 
  }


  .girland {
    opacity: 0; 
    animation: glow 1s ease-in-out forwards;
}

@keyframes glow {
    0% {
        opacity: 0; 
    }
    50% {
        opacity: 0.5; 
    }
    100% {
        opacity: 1;
    }
}

.girland1 { animation-delay: 0s; }
.girland2 { animation-delay: 0s; }
.girland3 { animation-delay: 0s; }
.girland4 { animation-delay: 0s; }
.girland5 { animation-delay: 0s; }
.girland6 { animation-delay: 0s; }
.girland7 { animation-delay: 0s; }
.girland8 { animation-delay: 0s; }
.girland9 { animation-delay: 0s; }
.girland10 { animation-delay: 0s; }

.girland11 { animation-delay: 0s; }
.girland12 { animation-delay: 0s; }
.girland13 { animation-delay: 0s; }
.girland14 { animation-delay: 0s; }
.girland15 { animation-delay: 0s; }
.girland16 { animation-delay: 0s; }
.girland17 { animation-delay: 0s; }
.girland18 { animation-delay: 0s; }
.girland19 { animation-delay: 0s; }
.girland20 { animation-delay: 0s; }

.girland21 { animation-delay: 0s; }
.girland22 { animation-delay: 0s; }
.girland23 { animation-delay: 0s; }
.girland24 { animation-delay: 0s; }
.girland25 { animation-delay: 0s; }
.girland26 { animation-delay: 0s; }
.girland27 { animation-delay: 0s; }
.girland28 { animation-delay: 0s; }
.girland29 { animation-delay: 0s; }
.girland30 { animation-delay: 0s; }

.girland31 { animation-delay: 0s; }
.girland32 { animation-delay: 0s; }
.girland33 { animation-delay: 0s; }
.girland34 { animation-delay: 0s; }
.girland35 { animation-delay: 0s; }
.girland36 { animation-delay: 0s; }
.girland37 { animation-delay: 0s; }
.girland38 { animation-delay: 0s; }
.girland39 { animation-delay: 0s; }
.girland40 { animation-delay: 0s; }


.girland.active {
    opacity: 1; 
    animation: glow 1s ease-in-out forwards;
}


.hidden{
    display: none;
}


.popUps {
    position: absolute;
    z-index: 999;
}

.popUp-wrapper {
    display: none;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.342);
}

.popUp-wrapper.visible {
    display: flex;
}

.popUp-content {
    background-color: white;
}

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked),
input[type="radio"]:checked,
input[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked+label,
input[type="checkbox"]:not(:checked)+label {
    display: inline-block;
    position: relative;
    padding-left: calc(20px + 13px);
    line-height: 20px;
    cursor: pointer;
}

input[type="checkbox"]:checked+label:before,
input[type="checkbox"]:not(:checked)+label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid rgb(0, 0, 0);
}

input[type="checkbox"]:checked+label:after,
input[type="checkbox"]:not(:checked)+label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked+label:after,
input[type="checkbox"]:not(:checked)+label:after {
    left: 4px;
    top: 4px;
    width: 13px;
    height: 8px;
    border-radius: 1px;
    border-left: 2.5px solid #000000;
    border-bottom: 2.5px solid #000000;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="checkbox"]:not(:checked)+label:after {
    opacity: 0;
}

input[type="checkbox"]:checked+label:after {
    opacity: 1;
}

.footer {
    position: fixed;
    bottom: -3%;
    z-index: 10;
}

.info{
  position: fixed;
  bottom: 42px;
  left: 29%;
  display: flex;
}
.info-item{
  margin: 0 30px 0 0;
  color: #000000;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
}