
* {
    cursor: none;
  }
:root {
    --cursor-1-bg: #ffffff;
}

body {
    overflow: hidden;
}

section {
    height: 100vh;
}


@media (max-width: 1024px) {
    main {
        height: 100vh;
        overflow-y: auto;
    }
}



/* main::-webkit-scrollbar {
    display: none;
  
} */

* {
    font-family: "Inter", sans-serif;
    color: rgb(255, 255, 255);
}

section,
header,
footer {
    padding: 0 calc(50% - 780px);
}



@font-face {
    font-family: 'Adieu';
    src: url('./../assets/fonts/adieu/adieu-regular-backslant.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Adieu';
    src: url('./../assets/fonts/adieu/adieu-black.otf');
    font-weight: 900;
    font-style: normal;
}

.hidden {
    display: none;
}

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked),
input[type="radio"]:checked,
input[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked+label,
input[type="checkbox"]:not(:checked)+label {
    display: inline-block;
    position: relative;
    padding-left: calc(20px + 13px);
    line-height: 20px;
    /* cursor: pointer; */
}

input[type="checkbox"]:checked+label:before,
input[type="checkbox"]:not(:checked)+label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid rgb(0, 0, 0);
}

input[type="checkbox"]:checked+label:after,
input[type="checkbox"]:not(:checked)+label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked+label:after,
input[type="checkbox"]:not(:checked)+label:after {
    left: 4px;
    top: 4px;
    width: 13px;
    height: 8px;
    border-radius: 1px;
    border-left: 2.5px solid #000000;
    border-bottom: 2.5px solid #000000;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="checkbox"]:not(:checked)+label:after {
    opacity: 0;
}

input[type="checkbox"]:checked+label:after {
    opacity: 1;
}

.socialButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 41px;
    height: 41px;
    border: 1px solid rgb(10, 30, 76);
    border-radius: 7px;

    transition: all 0.6s;
}

.socialButton svg path {
    transition: all 0.6s;
}

.socialButton:hover {
    transform: scale(1.05);
    background-color: #0A1E4C;
}

.socialButton:hover svg path {
    fill: white;
}

.header-navigation-mini {
    display: none;
}
@media (max-width: 1560px) {
    section,
    header,
    footer {
        padding: 0 calc(50% - 512px);
    }
}
@media (max-width: 1024px) {
    section,
    header,
    footer {
        padding: 0 calc(50% - 300px);
    }
}
@media (max-width: 600px) {
    section,
    header,
    footer {
        padding: 0 calc(50% - 165px);
    }
}
@media(max-width: 884px) {
    .header-blur {
        height: 70px;
    }

    .header-navigation-mini {
        display: flex;
        z-index: 21;
        position: relative;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        padding: 0 20px;
    }

    .blockNav {
        display: none;
    }

    .header-navigation-log-mini {
        width: 140px;
        margin: -9px 0 0 0;
    }

    .burger {
        height: 2px;
        width: 26px;
        background-color: #000000;
        position: relative;
        transition: all 0.3s ease;
    }

    .burger::after,
    .burger::before {
        content: '';
        height: 2px;
        width: 26px;
        background-color: #000000;
        position: absolute;
        transition: all 0.3s ease;
    }

    .burger::after {
        top: 6px;
    }

    .burger::before {
        top: -6px;
    }

    .burger.open {
        background-color: transparent;
    }

    .burger.open::after {
        top: 0;
        transition: all 0.3s ease;
        transform: rotate(45deg);
    }

    .burger.open::before {
        top: 0;
        transition: all 0.3s ease;
        transform: rotate(-45deg);
    }

    .header-navigation-button-plau-mini {
        position: relative;
        padding: 0 20px 0 43px;
        letter-spacing: 3px;
        height: 44px;
        font-size: 12px;
        font-weight: 900;
        line-height: 14.4px;
        border-radius: 9px;
        border: 1px solid rgb(0, 42, 219);
        color: #0A1E4C;
    }

    .header-navigation-button-plau-mini::before {
        content: url('../assets/polygons/trianglePolygon.svg');
        margin: 0 15px 0 0;
        position: absolute;
        left: 14px;
        top: 11px;
        transform: scale(0.8);
    }

    .FutureAwaitsStar-modal {
        position: absolute;
        bottom: 0;
        left: 0;
        transform: scale(3.5);
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 27;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: opacity 0.5s ease;
    border: none;
    background-size: 100% 100%;
    background-position: 0px 0px, 0px 0px;
    background-image: radial-gradient(91% 75% at 51% 91%, #FF69B4BF 0%, #FF69B43B 100%), radial-gradient(75% 75% at 50% 50%, #00FFFFFF 0%, #AED6F1 100%);
}

.modal-content {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    align-items: center;
}

.header-navigation-button-jobs-modal {
    position: relative;
    padding: 0 20px 0 43px;
    font-size: 12px;
    font-weight: 900;
    line-height: 14.4px;
    border-radius: 9px;
    border: 1px solid rgb(0, 42, 219);
    letter-spacing: 3px;
    height: 44px;
    margin: 50px 0 0 0;
    height: 54px;
    max-width: 447px;
    width: 100%;
    color: #000000;
}

.header-navigation-button-jobs-modal::before {
    position: absolute;
    left: 28px;
    top: 17px;
    content: url('../assets/polygons/casePolygon.svg');
    margin: 0 15px 0 0;
}

.header-navigation-button-join-us-modal {
    position: relative;
    padding: 0 20px 0 43px;
    letter-spacing: 3px;
    height: 44px;
    font-size: 12px;
    font-weight: 900;
    line-height: 14.4px;
    border-radius: 9px;
    border: 1px solid rgb(0, 42, 219);
    margin: 30px 0 30px 0;
    height: 54px;
    max-width: 447px;
    width: 100%;
    color: #000000;
}

.header-navigation-button-join-us-modal::before {
    content: url('../assets/polygons/blueCrossPolygon.svg');
    margin: 0 15px 0 0;
    position: absolute;
    left: 28px;
    top: 18px;
}

.info-item-modal {
    margin: 15px 0 0 0;
}

.snow-modal {
    margin: 70px 0 0 0;
    display: flex;
    justify-content: center;
}

.social img {
    /* width: 35px;
height: 35px;
padding: 5px 5px;
border: 1px solid #000;
border-radius: 20%; */
}

.footer-modal {
    margin: 20px 0 0 0;
}

.footer-modal .social {
    margin: 20px 0 26px 0;
    display: flex;
    align-items: center;
}

.footer-modal .info-item-modal {
    color: #000000;
}

.mini {
    font-size: 14px;
}

.social-item {
    width: 40px;
    margin: 0 22px 0 0;
}

.modal-snow-open,
.modal-snow-close {
    font-size: 12px;
    font-weight: 900;
    color: #0A1E4C;
    z-index: 50;
    position: relative;
}

.FutureAwaits-button-modal {
    position: relative;
    padding: 17px 60px 17px 70px;
    border-radius: 9px;
    color: #0A1E4C;
    background-color: #FFFFFF;
    transition: all 0.5s;
    font-size: 12px;
    font-weight: 900;
    line-height: 27px;
    letter-spacing: 1px;
    z-index: 7;
    max-width: 447px;
    width: 100%;
}

.FutureAwaits-button-modal::before {
    content: url('../assets/polygons/trianglePolygon.svg');
    margin: 0 25px 0 0;
    position: absolute;
    top: 19px;
    left: 32px;
    transform: scale(0.8);
}

.modal-snow-close {
    display: none;
}

.modal-snow-open::before {
    content: url('../assets/sections/FutureAwaits/Vector.png');
    position: absolute;
    left: -23px;
    top: -1px;
}

.modal-snow-close::before {
    content: url('../assets/sections/FutureAwaits/Group\ 1000004784.png');
    position: absolute;
    left: -25px;
    top: -3px;
}