@import url(./reset.css);
@import url(./base.css);
@import url(./sections/header.css);
@import url(./sections/footer.css);
@import url(./sections/GurtamMeans.css);
@import url(./sections/WhyUs.css);
@import url(./sections/OurBenefits.css);
@import url(./sections/JoinGurtam.css);
@import url(./sections/FutureAwaits.css);
@import url(./sections/Banka.css);
@import url(./other/BankaForm.css);
@import url(./other/Snow.css);
@import url(./other/Girland.css);

html{
    background-color: #AED6F1;
}

.pagepiling {
    scrollbar-width: none;
    scroll-behavior: smooth;
    background-color: #AED6F1;
    z-index: 1;
}

.pagepiling section {
    height: 100vh;
    transition: opacity 0.5s ease;
    opacity: 1;
}

.pagepiling.scroll-block {
    overflow: hidden;
}

.img-items {
    width: 100px;
}

.social-item-show-Button .img {
    left: 60%;
    width: 33px;
}
@media (max-width: 1024px) {
    .pagepiling section {
        height: auto;
    }
}