@import url(./reset.css);
@import url(./base.css);
@import url(./sections/header.css);
@import url(./sections/footer.css);
@import url(./sections/GurtamMeans.css);
@import url(./sections/WhyUs.css);
@import url(./sections/OurBenefits.css);
@import url(./sections/JoinGurtam.css);
@import url(./sections/FutureAwaits.css);
@import url(./sections/Banka.css);
@import url(./other/BankaForm.css);
@import url(./other/Snow.css);
@import url(./other/Girland.css);

.pagepilling {
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    z-index: 1;
    background-color: #AED6F1;
}

.pagepiling section {
    height: 100vh;
    transition: opacity 0.5s ease;
    opacity: 1;
    /* scroll-behavior: smooth; */
}

.pagepiling.wrapper {
    /* height: 100vh; */
    /* overflow: scroll; */
    /* scrollbar-width: none; */
} 

.pagepiling.wrapper {
    height: 100vh;
    overflow: scroll;
    scrollbar-width: none;
}

.pagepiling.wrapper.scroll-block {
    overflow: hidden;
}


/* .pagepiling section.visible {
    opacity: 1;
} */

.img-items {
    width: 100px;
}

.social-item-show-Button .img {
    left: 60%;
    width: 33px;
}