@import url(./reset.css);
@import url(./base.css);
@import url(./sections/GurtamMeans.css);
@import url(./sections/WhyUs.css);
@import url(./sections/OurBenefits.css);
@import url(./sections/JoinGurtam.css);
@import url(./sections/FutureAwaits.css);
@import url(./sections/Banka.css);
@import url(./other/BankaForm.css);
@import url(./other/Snow.css);
@import url(./other/Girland.css);
.pagepilling {
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    z-index: 1;
    background-color: #AED6F1;
}


/* .pagepilling::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -2;
} */

.pagepiling section {
    height: 100vh;
    transition: opacity 0.5s ease;
    opacity: 1;
    scroll-behavior: smooth;
}


/* .pagepiling section.visible {
    opacity: 1;
} */

.social {
    display: flex;
    gap: 9px;
    margin: 17px 0 0 0
}

.social-item {
    margin: 5px 0 0 0;
    position: relative;
    overflow: hidden;
    height: 100px;
    width: 60px;
    display: flex;
    justify-content: center;
    /* cursor: pointer; */
}

.social-item-show-Button {
    margin: 5px 0 0 0;
    position: relative;
    overflow: hidden;
    height: 100px;
    width: 60px;
    display: flex;
    justify-content: center;
    /* cursor: pointer; */
}

.img-items {
    width: 100px;
}

.social-item-show-Button .img {
    left: 60%;
    width: 33px;
}

.showButton {
    position: fixed;
    bottom: -3%;
    right: 122px;
}

@media (max-width: 1039px) {
    .showButton {
        display: none;
    }
}