:root {
    /* -----banka values----- */
    --banka-height: 442px;
    --banka-width: 289px;
    /* -----banka values----- */
    /* -----banka jar values----- */
    --banka-jar-height: 378px;
    --banka-jar-width: 289px;
    /* -----banka jar values----- */
    /* -----banka lid values----- */
    --banka-lid-height: 128px;
    --banka-lid-width: 275px;
    /* -----banka lid values----- */
    /* -----banka cookies values----- */
    --banka-cookie-bigPart-height: 842px;
    --banka-cookie-bigPart-width: 767px;
    --banka-cookie-smallPart-height: 729px;
    --banka-cookie-smallPart-width: 585px;
    /* -----banka cookies values----- */
}

.banka {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    scroll-snap-align: center;
}

.banka-banka-specialCookie {
    display: none;
    height: 875px;
    width: 869px;
    position: absolute;
    bottom: calc(100vh / 2 - 875px / 2 - 39vh);
    right: calc(100vw / 2 - 869px / 2 - 1.5vw);
    transform: scale(calc(246 / 869)) rotate(-45deg);
}

.banka-banka-specialCookie.step-2 {
    display: block;
    transition: all 0.6s;
}

.banka-banka-specialCookie.z-index {
    z-index: 10;
}

.banka-banka-specialCookie.step-3 {
    bottom: calc(100vh / 2 - 875px / 2 + 9vh);
}

.banka-banka-specialCookie.step-4 {
    transition: all 1.1s;
    right: calc(100vw / 2 - 869px / 2);
    bottom: calc(100vh / 2 - 875px / 2);
}

.banka-banka-specialCookie.step-5 {
    transition: all 0.9s;
    transform: scale(calc(446 / 869)) rotate(-45deg);
}

.banka-banka-specialCookie.step-6 {
    animation: 0.6s horizontal-shaking;
}

@keyframes horizontal-shaking {
    0% {
        transform: translateX(0) scale(calc(446 / 869)) rotate(-45deg)
    }

    25% {
        transform: translateX(5px) scale(calc(446 / 869)) rotate(-45deg)
    }

    50% {
        transform: translateX(-5px) scale(calc(446 / 869)) rotate(-45deg)
    }

    75% {
        transform: translateX(5px) scale(calc(446 / 869)) rotate(-45deg)
    }

    100% {
        transform: translateX(0) scale(calc(446 / 869)) rotate(-45deg)
    }
}

.banka-banka-specialCookie.step-7 .banka-banka-specialCookie-img.bigPart {
    left: -10px;
    top: -10px;
    transition: all 0.9s;
}

.banka-banka-specialCookie.step-7 .banka-banka-specialCookie-img.smallPart {
    right: -18px;
    bottom: -18px;
    transition: all 0.9s;
}

.banka-banka-specialCookie.step-7 .banka-banka-specialCookie-img.bigPart {
    left: -500px;
    top: -500px;
    transition: all 0.9s;
}

.banka-banka-specialCookie.step-7 .banka-banka-specialCookie-img.smallPart {
    right: -345px;
    bottom: -345px;
    transition: all 0.9s;
}

.banka-banka-specialCookie-img {
    position: absolute;
}

.banka-banka-specialCookie-img.bigPart {
    left: 0;
    top: 0;
    width: var(--banka-cookie-bigPart-width);
    height: var(--banka-cookie-bigPart-height);
    transition: all 0.9s;
}

.banka-banka-specialCookie-img.smallPart {
    right: -6px;
    bottom: 6px;
    width: var(--banka-cookie-smallPart-width);
    height: var(--banka-cookie-smallPart-height);
    transition: all 0.9s;
}

.banka-banka-wrapper {
    height: var(--banka-height);
    width: var(--banka-width);
    position: relative;
    bottom: 160px;
    left: 0px;
    transform: scale(1);
    transition: all 1.1s;
    opacity: 1;
}

.banka-banka-wrapper.glow {
    animation: shake 3s infinite;
}

@keyframes shake {
    0% {
        transform: translate(0);
    }
    5% {
        transform: translate(-5px, 0);
    }
    10%{
        transform: translate(5px, 0);
    }
    15%{
        transform: translate(-5px, 0);
    }
    20%{
        transform: translate(5px, 0);
    }
    21%{
        transform: translate(0);
    }
    50% {
        transform: translate(0);
    }

    75% {
        transform: translate(0);
    }

    100% {
        transform: translate(0);
    }
}

.banka-banka-wrapper.step-1 {
    transform: scale(1.6);
    bottom: -80px;
    transition: all 1.1s;
}

.banka-banka-wrapper.step-4 {
    opacity: 0;
    bottom: -80vh;
    left: -90px;
}

.banka-banka-jar {
    position: absolute;
    bottom: 0;
    z-index: 10;
    width: var(--banka-jar-width);
    height: var(--banka-jar-height);
}

.banka-banka-lid {
    position: absolute;
    bottom: calc(var(--banka-height) - var(--banka-lid-height) + -6px);
    right: calc((var(--banka-width) - var(--banka-lid-width)) / 2 + 0px);
    z-index: 11;
    width: var(--banka-lid-width);
    height: var(--banka-lid-height);
    transform: rotate(0deg);
    transition: all 0.9s;
}

.banka-banka-lid.step-2 {
    bottom: calc(var(--banka-height) - var(--banka-lid-height) + 60px);
    right: calc((var(--banka-width) - var(--banka-lid-width)) / 2 + 185px);
    transform: rotate(-37deg);
    transition: all 0.9s;
}

.banka-banka-lid img {
    width: var(--banka-lid-width);
    height: var(--banka-lid-height);
}

.dragonbanka {
    position: absolute;
    bottom: 0;
    left: 49%;
    transform: translateX(-50%);
    width: 56%;
    z-index: -1;
}

.banka-banka-title {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
    font-family: "Adieu";
    font-weight: 900;
    font-size: 42px;
    color: #0A1E4C;
    line-height: 38px;
    letter-spacing: 1px;
    opacity: 1;
    transition: all 0.9s;
}

.banka-banka-title.step-0 {
    opacity: 0;
}

.banka-banka-title::after {
    position: absolute;
    content: url('../../assets/sections/banka/miniCookie.png');
    top: -4px;
    right: -50px;
    transform: scale(1);
}

.dragonNone {
    display: none;
}

.dragonVisible {
    display: block;
}

@media(max-width: 966px) {
    .banka-banka-title {
        font-size: 24px;
    }

    .dragonbanka {
        width: 100%;
    }
}

@media(max-width: 580px) {
    .banka-banka-title {
        font-size: 17px;
    }

    .dragonbanka {
        width: 100%;
    }

    .dragonNone {
        display: block;
    }

    .dragonVisible {
        display: none;
    }

    .dragonbanka-mini {
        position: absolute;
        bottom: -84px;
    }
}

@media(max-width: 466px) {
    .dragonbanka-mini {
        position: absolute;
        bottom: 66px;
        transform: scale(2.5);
        left: -15px;
    }
}

@media(max-width: 432px) {
    .banka-banka-title {
        width: 216px;
    }

    .banka-banka-title {
        top: 23%;
    }
}