.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 3vh;
    z-index: 10;
}

.footer-blur {
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    position: fixed;
    top: calc(100vh - 100px);
    left: 0;
    z-index: -10;
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1);
}

.footer-content-wrapper {
    display: flex;
    align-items: center;
    column-gap: 35px;
    width: 55%;
}

.footer-info {
    display: flex;
    column-gap: 20px;
    width: 100%;
}

.footer-info-links {
    display: flex;
    column-gap: 20px;
}

.footer-info-item {
    color: #000000;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
}

.footer-info-item a {
    padding: 15px 0;
    color: #000000;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
    transition: 1s;
}

.footer-info-item.copyright {
    position: absolute;
    left: 50vw;
    transform: translateX(-50%);
}

.footer-info-item:nth-of-type(3) {
    position: relative;
    right: -20px;
    text-align: right;
}



.footer-socialsList {
    display: flex;
    column-gap: 15px;
}

.footer-socialsList-item {
    margin: 5px 0 0 0;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    /* cursor: pointer; */
}

.footer-socialsList-item-show-Button {
    margin: 5px 0 0 0;
    position: relative;
    overflow: hidden;
    height: 100px;
    width: 60px;
    display: flex;
    justify-content: center;
    /* cursor: pointer; */
}

.showButton {
    position: relative;
}


.footer-copyright-mobile {
    display: none;
    color: white;
    font-size: 12px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0;
    text-align: center;
}
.footer.mobile{
    display: none;
    position: relative;
}

.footer-info-item a:hover {
    color: #002ADB;
    text-decoration: underline;
}

@media (max-width: 1560px) {
    .footer-content-wrapper {
        width: auto;
    }
    .footer-info-item.copyright {
        left: 66.5vw;
    }
}

@media(max-width: 1024px) {
    .footer {
        bottom: 1vh;
        justify-content: center;
    }

    .footer-info {

        column-gap: 10px;

    }

    .footer-content-wrapper {
        flex-direction: column-reverse;
        row-gap: 20px;
    }

    .footer-info-item a {
        font-size: 12px;
        letter-spacing: 0;
        color: white;
    }

    .footer-info-item {
        font-size: 12px;
        letter-spacing: 0;
    }

    .footer-socialsList {
        column-gap: 15px;
    }

    .footer-socialsList-item {
        margin: 0;
    }

    .footer-info-links {
        width: 100%;
        justify-content: space-between;
    }

    .footer-blur {
        height: 135px;
        top: calc(100vh - 135px);
    }

    .footer-showButton {
        display: none;
    }

    .footer-info-item.copyright {
        display: none;
    }

    .footer-copyright-mobile {
        display: unset;
    }
}

@media(max-width: 600px) {
    .dragonbanka {
        left: 44%;
    }
    .footer {
        display: none;
    }
    .footer-info-item a{
        color: white;
    } 
    .footer.mobile{
        display: flex;
    }
    .footer-blur {
        display: none;
    }
    .footer .socialButton{
        border: 1px solid white;
    }
    .footer .socialButton svg path{
        fill: white;
    }
    
}