.FutureAwaits {
    align-items: self-start;
    padding-top: 150px;
    transform: translateY(20px);
    transition: opacity 2s ease-in-out, transform 2s ease-in-out;
    opacity: 0;
     /* Вот это в теории может скрыть пробелму со скролом от дракона */
    overflow-x: clip;
    overflow-y: visible; 
}

.FutureAwaits.visible {
    opacity: 1;
    transform: translateY(0);
}
.FutureAwaits-content{
    display: flex;
    flex-direction: column;
    position: relative;
}
.FutureAwaits-button-modal {
    position: relative;
    padding: 17px 60px 17px 70px;
    border-radius: 9px;
    color: #0A1E4C;
    background-color: #FFFFFF;
    transition: all 0.5s;
    font-size: 12px;
    font-weight: 900;
    line-height: 27px;
    letter-spacing: 1px;
    z-index: 7;
    max-width: 447px;
    width: 100%;
}

.FutureAwaits-button-modal::before {
    content: url('../assets/polygons/trianglePolygon.svg');
    margin: 0 25px 0 0;
    position: absolute;
    top: 19px;
    left: 32px;
    transform: scale(0.8);
}
.FutureAwaits-title {
    font-family: 'Adieu';
    color: #002ADB;
    font-size: 64px;
    font-weight: 900;
    line-height: 77px;
    margin: 50px 0 0px;
}

.FutureAwaits-subtitle {
    font-family: 'Adieu';
    color: #002ADB;
    font-size: 32px;
    font-weight: 900;
    line-height: 38px;
    margin: 0 0 25px 0;
}

.FutureAwaits-text {
    max-width: 721px;
    text-align: start;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 40px;
    color: #0A1E4C;
}
.FutureAwaits-text, .FutureAwaits-subtitle{
    z-index: 1;
}
.FutureAwaits-text-span {
    color: #002ADB;
}

.FutureAwaits-text-span-bold {
    font-weight: 900;
    color: #002ADB;
}

.FutureAwaits-button {
    max-width: 600px;
    position: relative;
    display: flex;
    column-gap: 30px;
    align-items: center;
    padding: 17px 60px 17px 70px;
    color: #0A1E4C;
    border-radius: 10px;
    background-color: #fff;
    transition: all 0.5s;
    font-family: 'Adieu';
    font-size: 22px;
    font-weight: 900;
    line-height: 27px;
    letter-spacing: 1px;
    z-index: 7;
    transition: all 0.6s;

}

.FutureAwaits-button svg path {
    transition: all 0.6s;
}

.FutureAwaits-button:hover {
    background-color: rgb(0, 42, 219);
    transform: scale(1.05);
    color: white;
}

.FutureAwaits-button:hover svg path {
    fill: white;
}

.FutureAwaits-button:active {
    bottom: -2px;
}
.FutureAwaits-bigDragonArea{
    position: absolute;
    width: 880px;
    top: -275px;
    right: -15px;
}
.FutureAwaits-background-img-left {
    position: absolute;
    right: 460px;
    top: 337px;
}

.FutureAwaits-background-img-right {
    position: absolute;
    right: 12px;
    top: 458px;
    z-index: -1;
}

.FutureAwaits-background-img {
    position: absolute;
    right: 169px;
    top: 248px;
    max-width: 720px;
}

@keyframes riseAndFall {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes riseAndFlapRight {
    0% {
        transform: translateY(0) rotate(-5deg);
    }

    50% {
        transform: translateY(-50px) rotate(-10deg);
    }

    100% {
        transform: translateY(0) rotate(-5deg);
    }
}

@keyframes riseAndFlapLeft {
    0% {
        transform: translateY(0) rotate(5deg);
    }

    50% {
        transform: translateY(-50px) rotate(10deg);
    }

    100% {
        transform: translateY(0) rotate(5deg);
    }
}

.animatedRight {
    animation: riseAndFlapRight 3s ease-in-out infinite;
}

.animatedLeft {
    animation: riseAndFlapLeft 3s ease-in-out infinite;
}

.animated {
    animation: riseAndFall 3s ease-in-out infinite;
}

.FutureAwaitsStar {
    height: 730px;
    width: 730px;
    position: absolute;
    z-index: -1;
    right: 50vw;
    transform: translateX(50%);
    bottom: calc(0px - 730px / 2);
    filter: blur(175px);
}

.dragonMini {
    right: 8%;
    position: relative;
    bottom: 213px;
    transform: translateX(50%);
}

.none {
    display: block;
}

.NoNone {
    display: none;
}

@media(max-width: 1560px) {
    .FutureAwaits-bigDragonArea{
        top: -275px;
        right: -270px;
        z-index: 0;
        transform: scale(0.8);
    }
    .FutureAwaits-subtitle, .FutureAwaits-title, .FutureAwaits-text{
        max-width: 600px;
    }
}


@media(max-width: 1024px) {
    .FutureAwaitsStar {
        top: 300px;
    }
    .none {
        display: none;
    }

    .FutureAwaits {
        align-items: center;
    }

    .FutureAwaits-title {
        margin: 0
    }

    .NoNone {
        display: block;
    }
    .FutureAwaits-text:nth-of-type(2) {
        margin-bottom: 100px;
    }
}

@media(max-width: 600px) {
    .FutureAwaits {
        padding-top: 77px;
    }

    .FutureAwaits-title {
        font-size: 40px;

        line-height: 48px;
        letter-spacing: 0;
    }

    .FutureAwaits-subtitle {
        font-size: 20px;
        letter-spacing: 0;
        line-height: 24px;
    }

    .FutureAwaits-button {
        font-size: 14px;
        column-gap: 22px;
        font-weight: 900;
        line-height: 17px;
        letter-spacing: 0;
        padding: 18px 13px;
    }

    .dragonMini {
        bottom: 197px;
        right: 50%;
    }

    .FutureAwaitsStar {
        top: 450px;
    }
}