.FutureAwaits {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    padding-top: 150px;
    transform: translateY(20px);
    transition: opacity 2s ease-in-out, transform 2s ease-in-out;
    opacity: 0;
    overflow-y: visible;
    
}

.FutureAwaits.visible {
    opacity: 1;
    transform: translateY(0);
}

.FutureAwaits-title {
    margin: 50px 0 0px;
    color: #002ADB;
    font-size: 64px;
    font-weight: 900;
    line-height: 77px;
}

.FutureAwaits-subtitle {
    color: #002ADB;
    font-size: 32px;
    font-weight: 900;
    line-height: 38px;
    margin: 0 0 25px 0;
}

.FutureAwaits-text {
    max-width: 721px;
    text-align: start;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 40px;
    color: #0A1E4C;
}

.FutureAwaits-text-span {
    color: #002ADB;
}

.FutureAwaits-text-span-bold {
    font-weight: 900;
    color: #002ADB;
}

.FutureAwaits-button {
    position: relative;
    display: flex;
    column-gap: 30px;
    align-items: center;
    padding: 17px 60px 17px 70px;
    color: #0A1E4C;
    border: 1px solid rgb(0, 42, 219);
    border-radius: 10px;
    background-color: transparent;
    transition: all 0.5s;
    font-size: 22px;
    font-weight: 900;
    line-height: 27px;
    letter-spacing: 1px;
    z-index: 7;
    transition: all 0.6s;
}

.FutureAwaits-button svg path {
    transition: all 0.6s;
}

.FutureAwaits-button:hover {
    background-color: rgb(0, 42, 219);
    transform: scale(1.05);
    color: white;
}

.FutureAwaits-button:hover svg path {
    fill: white;
}

.FutureAwaits-button:active {
    bottom: -2px;
}

.FutureAwaits-background-img-left {
    position: absolute;
    right: 94px;
    top: 283px;
    width: 1000px;
}

.FutureAwaits-background-img-right {
    position: absolute;
    right: 73px;
    top: 231px;
    width: 1000px;
    z-index: -1;
}

.FutureAwaits-background-img {
    position: absolute;
    right: 169px;
    top: 248px;
    max-width: 720px;
}

@keyframes riseAndFall {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes riseAndFlapRight {
    0% {
        transform: translateY(0) rotate(-5deg);
    }
    50% {
        transform: translateY(-50px) rotate(-10deg);
    }
    100% {
        transform: translateY(0) rotate(-5deg);
    }
}

@keyframes riseAndFlapLeft {
    0% {
        transform: translateY(0) rotate(5deg);
    }
    50% {
        transform: translateY(-50px) rotate(10deg);
    }
    100% {
        transform: translateY(0) rotate(5deg);
    }
}

.animatedRight {
    animation: riseAndFlapRight 3s ease-in-out infinite;
}

.animatedLeft {
    animation: riseAndFlapLeft 3s ease-in-out infinite;
}

.animated {
    animation: riseAndFall 3s ease-in-out infinite;
}

.FutureAwaitsStar {
    height: 730px;
    width: 730px;
    position: absolute;
    z-index: -1;
    right: calc(100vw / 2 - 730px / 2);
    bottom: calc(0px - 730px / 2);
    filter: blur(175px);
}

.dragonMini {
    position: absolute;
    bottom: -148px;
}

.none {
    display: block;
}

.NoNone {
    display: none;
}

@media(max-width: 1458px) {
    .header-navigation {
        padding: 0 30px;
    }
    .FutureAwaits {
        padding-left: 30px;
        padding-right: 30px;
    }
    .FutureAwaits-background-img {
        right: 48px;
    }
    .FutureAwaits-background-img-left {
        right: -6px;
    }
    .FutureAwaits-background-img-right {
        right: -67px;
    }
}

@media(max-width: 1320px) {
    .FutureAwaits-title {
        font-size: 58px;
        letter-spacing: 1px;
    }
    .FutureAwaits-subtitle {
        font-size: 28px;
        letter-spacing: 1px;
    }
    .FutureAwaits-text {
        max-width: 596px;
        font-size: 18px;
    }
}

@media(max-width: 1210px) {
    .FutureAwaits-background-img {
        max-width: 524px;
    }
    .FutureAwaits-background-img-left {
        top: 232px;
        width: 927px;
        right: -104px;
    }
    .FutureAwaits-background-img-right {
        top: 222px;
        width: 800px;
        right: -51px;
    }
}

@media(max-width: 1080px) {
    .FutureAwaits-background-img {
        max-width: 491px;
        right: -24px;
    }
    .FutureAwaits-background-img-left {
        top: 336px;
        width: 443px;
        right: 89px;
    }
    .FutureAwaits-background-img-right {
        top: 290px;
        width: 536px;
        right: -35px;
    }
    .FutureAwaitsStar {
        top: 300px;
        transform: scale(1.5);
    }
}

@media(max-width: 950px) {
    .none {
        display: none;
    }
    .FutureAwaits {
        align-items: center;
    }
    .FutureAwaits-title {
        margin: 0
    }
    .NoNone {
        display: block;
    }
}

@media(max-width: 662px) {
    .FutureAwaits {
        padding-top: 77px;
    }
    .FutureAwaits-title {
        font-size: 40px;
        letter-spacing: 1px;
    }
    .FutureAwaits-subtitle {
        font-size: 32px;
        line-height: 33px;
    }
    .dragonMini {
        bottom: -174px;
    }
    .FutureAwaitsStar {
        top: 450px;
        transform: scale(3.5);
    }
}

@media(max-width: 606px) {
    .dragonMini {
        bottom: -209px;
    }
}

@media(max-width: 518px) {
    .FutureAwaits-title {
        font-size: 40px;
        letter-spacing: 1px;
    }
    .FutureAwaits-subtitle {
        font-size: 32px;
        line-height: 33px;
    }
    .dragonMini {
        bottom: -174px;
    }
}

@media(max-width: 606px) {
    .dragonMini {
        bottom: -209px;
    }
}

@media(max-width: 520px) {
    .dragonMini {
        bottom: -209px;
    }
    .FutureAwaits-subtitle {
        font-size: 28px;
        ;
    }
    .FutureAwaits-text {
        font-size: 16px;
    }
    .FutureAwaits {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media(max-width: 480px) {
    .FutureAwaits-subtitle {
        font-size: 25px;
    }
    .FutureAwaits-subtitle {
        margin: 0 0 12px 0;
    }
    .FutureAwaits-text {
        margin-bottom: 14px;
    }
    .FutureAwaits-button {
        padding: 17px 38px 17px 70px;
        font-size: 14px;
    }
    .FutureAwaits-title {
        letter-spacing: 3px;
    }
}

@media(max-width: 417px) {
    .FutureAwaits-subtitle {
        font-size: 20px;
    }
    .FutureAwaits-text {
        margin-bottom: 14px;
    }
    .FutureAwaits-button {
        padding: 17px 38px 17px 70px;
        font-size: 14px;
        margin: 47px 0 0 0;
    }
    .dragonMini {
        bottom: -170px;
    }
}