.GurtamMeans {
    position: relative;
    padding-top: 350px;
    display: flex;
    flex-direction: column;
    align-items: start;
    transform: translateY(20px);
    transition: opacity 2s ease-in-out, transform 2s ease-in-out;
    opacity: 0;
    overflow-x: clip;
    overflow-y: visible;
}


.viewporter {
    width: 100px;
    height: 100px;
    opacity: 0;
    position: absolute;
    top: 0;
}

.GurtamMeans.visible {
    opacity: 1;
    transform: translateY(0);
}

.GurtamMeans-tailDragons {
    position: absolute;
    top: 0;
    right: 0;
}

.GurtamMeans-title {
    text-align: start;
    font-family: "Adieu";
    color: #002ADB;
    font-size: 32px;
    font-weight: 900;
    line-height: 38px;

    margin: 20px 0 25px 0;
}

.GurtamMeans-text {
    color: #0A1E4C;
    text-align: start;
    padding: 20px 0 30px;
    max-width: 930px;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    max-width: 720px;
}

.GurtamMeans-stats {
    width: 100%;
    position: relative;
    position: relative;
}

.GurtamMeans-button {
    position: relative;
    display: flex;
    column-gap: 30px;
    align-items: center;
    height: 60px;
    color: #0A1E4C;
    letter-spacing: 3px;
    padding: 17px 70px;
    font-family: 'Adieu';
    font-size: 22px;
    font-weight: 900;
    line-height: 26px;
    border-radius: 9px;
    border: 1px solid rgb(0, 42, 219);
    margin-bottom: 25px;
    transition: all 0.6s;
}

.GurtamMeans-button:hover {
    background: white;
    transform: scale(1.05);
}

.GurtamMeans-button:active {
    bottom: -2px;
}

.GurtamMeans-stats-card {
    position: absolute;
    z-index: 10;
    width: 900px;
    flex-grow: 1;
    border-radius: 15px;
    background: rgb(174, 214, 241);
    padding: 20px;
    height: 176px;
    overflow: hidden;
    right: 0;
}

.GurtamMeans-stats-card * {
    color: rgb(0, 0, 0);
}

.GurtamMeans-stats-card-count {
    margin-bottom: 13px;
    font-family: "Adieu";
    font-size: 68px;
    font-weight: 900;
    line-height: 64px;
}

.GurtamMeans-stats-card-text {
    font-size: 30px;
    font-weight: 400;
    line-height: 28px;
}

.GurtamMeans-stats-card-count.years::after {
    top: -40px;
    left: 74px;
}

.GurtamMeans-stats-card-count.offices::after {
    top: 4px;
    left: 36px;
}

.GurtamMeans-stats-card-count.countries::after {
    top: -47px;
    left: 18px;
}

.card-years-count {
    color: #FFFFFF;
}

.card-years-text {
    color: #FFFFFF;
}

.card-EMPLOYEES-count {
    color: #002ADB;
}

.card-EMPLOYEES-text {
    color: #002ADB;
}

.card-COUNTRIES-count {
    color: #FFFFFF;
}

.card-COUNTRIES-text {
    color: #FFFFFF;
}

.card-OFFICES-count {
    color: #FFFFFF;
}

.card-OFFICES-text {
    color: #FFFFFF;
}

.GurtamMeansStar {
    position: absolute;
    bottom: -463px;
    left: 50%;
    transform: translateX(-50%);
    width: 850px;
    z-index: -1;
}

.card-years {
    background-color: #002ADB;
    position: absolute;
    right: -9%;
}

.card-EMPLOYEES {
    background-color: #FFD700;
    position: absolute;
    right: -9%;
}

.card-COUNTRIES {
    background-color: #FF69B4;
    position: absolute;
    right: -9%;
}

.card-OFFICES {
    background-color: #0A1E4C;
    position: absolute;
    right: -9%;
}

.GurtamMeansStar {
    height: 730px;
    width: 730px;
    position: absolute;
    z-index: -1;
    right: calc(100vw / 2 - 730px / 2);
    bottom: calc(0px - 730px / 2);
    filter: blur(175px);
}

.animated1 {
    animation: moveLeft1 1s forwards;
}

.animated2 {
    animation: moveLeft2 1s forwards;
}

.animated3 {
    animation: moveLeft3 1s forwards;
}

.animated4 {
    animation: moveLeft4 1s forwards;
}

@media(max-width: 11326px) {
    @keyframes moveLeft1 {
        0% {
            width: 0;
            opacity: 0;
        }

        25% {
            opacity: 1;
        }

        100% {
            opacity: 1;
            width: 1700px;
        }
    }

    @keyframes moveLeft2 {
        0% {
            width: 0;
            opacity: 0;
        }

        25% {
            opacity: 1;
        }

        100% {
            opacity: 1;
            width: 1350px;
        }
    }

    @keyframes moveLeft3 {
        0% {
            width: 0;
            opacity: 0;
        }

        25% {
            opacity: 1;
        }

        100% {
            opacity: 1;
            width: 1000px;
        }
    }

    @keyframes moveLeft4 {
        0% {
            width: 0;
            opacity: 0;
        }

        25% {
            opacity: 1;
        }

        100% {
            opacity: 1;
            width: 650px;
        }
    }
}

@media (max-width: 1560px) {
    @keyframes moveLeft1 {
        0% {
            width: 0;
            opacity: 0;
        }

        25% {
            opacity: 1;
        }

        100% {
            opacity: 1;
            width: 1115px;
        }
    }

    @keyframes moveLeft2 {
        0% {
            width: 0;
            opacity: 0;
        }

        25% {
            opacity: 1;
        }

        100% {
            opacity: 1;
            width: 885px;
        }
    }

    @keyframes moveLeft3 {
        0% {
            width: 0;
            opacity: 0;
        }

        25% {
            opacity: 1;
        }

        100% {
            opacity: 1;
            width: 635px;
        }
    }

    @keyframes moveLeft4 {
        0% {
            width: 0;
            opacity: 0;
        }

        25% {
            opacity: 1;
        }

        100% {
            opacity: 1;
            width: 385px;
        }
    }
}

@media(max-width: 1158px) {
    @keyframes moveLeft1 {
        0% {
            width: 0;
            opacity: 0;
        }

        25% {
            opacity: 1;
        }

        100% {
            opacity: 1;
            width: 1115px;
        }
    }

    @keyframes moveLeft2 {
        0% {
            width: 0;
            opacity: 0;
        }

        25% {
            opacity: 1;
        }

        100% {
            opacity: 1;
            width: 925px;
        }
    }

    @keyframes moveLeft3 {
        0% {
            width: 0;
            opacity: 0;
        }

        25% {
            opacity: 1;
        }

        100% {
            opacity: 1;
            width: 675px;
        }
    }

    @keyframes moveLeft4 {
        0% {
            width: 0;
            opacity: 0;
        }

        25% {
            opacity: 1;
        }

        100% {
            opacity: 1;
            width: 425px;
        }
    }
}

@media(max-width: 1024px) {
    .GurtamMeans {
        top: -100px;
        padding-top: 0;
        margin-bottom: 750px;
        height: auto !important;
        align-items: center;
    }

    .GurtamMeans-stats {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .card-years {
        background-color: #002ADB;
        position: static;
        text-align: center;
    }

    .card-EMPLOYEES {
        background-color: #FFD700;
        position: static;
        text-align: center;
        transform: translateY(-30px);
    }

    .card-COUNTRIES {
        background-color: #FF69B4;
        position: static;
        text-align: center;
        transform: translateY(-50px);
    }

    .card-OFFICES {
        background-color: #0A1E4C;
        position: static;
        text-align: center;
        transform: translateY(-70px);
    }

    .GurtamMeans-text {
        text-align: center;
    }

    #block1 {
        position: absolute;
        top: calc(180px * 0);
        left: 12.5%;
    }

    #block2 {
        position: absolute;
        top: calc(180px * 1);
        left: 12.5%;
    }

    #block3 {
        position: absolute;
        top: calc(180px * 2);
        left: 12.5%;
    }

    #block4 {
        position: absolute;
        top: calc(180px * 3);
        left: 12.5%;
    }

    @keyframes moveLeft1 {
        0% {
            width: 75%;
            height: 0;
            opacity: 0;
            transform: translateY(calc(180px * 4));
        }

        25% {
            opacity: 1;
        }

        100% {
            opacity: 1;
            width: 75%;
            transform: translateY(0px);
            height: calc(180px * 4);
        }
    }

    @keyframes moveLeft2 {
        0% {
            width: 75%;
            height: 0;
            opacity: 0;
            transform: translateY(calc(180px * 4));
        }

        25% {
            opacity: 1;
        }

        100% {
            opacity: 1;
            width: 75%;
            transform: translateY(0px);
            height: calc(180px * 3);
        }
    }

    @keyframes moveLeft3 {
        0% {
            width: 75%;
            height: 0;
            opacity: 0;
            transform: translateY(calc(180px * 4));
        }

        25% {
            opacity: 1;
        }

        100% {
            opacity: 1;
            width: 75%;
            transform: translateY(0px);
            height: calc(180px * 2);
        }
    }

    @keyframes moveLeft4 {
        0% {
            width: 75%;
            height: 0;
            opacity: 0;
            transform: translateY(calc(180px * 4));
        }

        25% {
            opacity: 1;
        }

        100% {
            opacity: 1;
            width: 75%;
            transform: translateY(0px);
            height: calc(180px * 1);
        }
    }
}

@media (max-width: 600px) {
    .GurtamMeans {
        margin-bottom: 500px;
    }

    .GurtamMeans-title {
        font-size: 20px;
        margin: 0;
        line-height: 24px;
        letter-spacing: 0;
    }

    .GurtamMeans-text {
        font-size: 16px;

        line-height: 19px;
        letter-spacing: 0;
    }

    .GurtamMeans-button {
        padding: 17px 104px;
        column-gap: 25px;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0;
    }
    .GurtamMeans-button img{
        height: 16px;
        width: 16px;
    }
    #block1,
    #block2,
    #block3,
    #block4 {
        width: 100% !important;
        left: 0;
    }
}