.header {
    width: 100%;
    position: fixed;
    z-index: 900;
}

.header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    z-index: 901;
}
.header-navigation-logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.header-navigation * {
    color: #0A1E4C;
}

.header-navigation-box {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.header-blur {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 899;
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1);
}

.headerBtn {
    display: flex;
    column-gap: 17px;
    align-items: center;
    position: relative;
    height: 46px;
    padding: 0 15px 0 17px;
    font-family: 'Adieu';
    font-size: 12px;
    font-weight: 900;
    line-height: 14.4px;
    letter-spacing: 0%;
    border-radius: 9px;
    border: 1px solid rgb(0, 42, 219);
    transition: all 0.6s;
}

.headerBtn:hover {
    color: white;
    background-color: rgb(0, 42, 219);
    transform: scale(1.05);
}

.headerBtn:active {
    bottom: -2px;
}

.header-navigation-button-jobs svg path,
.header-navigation-button-jobs svg rect {
    transition: all 0.6s;
}

.header-navigation-button-jobs:hover svg path {
    stroke: white;
}

.header-navigation-button-jobs:hover svg rect {
    fill: white;
}

.header-navigation-button-join-us svg path {
    transition: all 0.6s;
}

.header-navigation-button-join-us:hover svg path {
    fill: white;
}

.header-navigation-button-plau svg {
    height: 16px;
    width: 16px;
}

.header-navigation-button-plau svg path {
    transition: all 0.6s;
}

.header-navigation-button-plau p {
    transition: all 0.6s;
}

.header-navigation-button-plau:hover p {
    color: white;
}

.header-navigation-button-plau:hover svg path {
    fill: white;
}

.header-navigation-button-plau.disabled {
    pointer-events: none;
    background-color: #D9D9D9;
    color: #656565;
    border: none;
}

.header-navigation-button-plau.disabled svg path {
    fill: #656565;
}





.header-navigation-button-jobs-modal {
    position: relative;
    padding: 0 20px 0 43px;
    font-size: 12px;
    font-weight: 900;
    line-height: 14.4px;
    border-radius: 9px;
    border: 1px solid rgb(0, 42, 219);
    letter-spacing: 3px;
    height: 44px;
    margin: 50px 0 0 0;
    height: 54px;
    max-width: 447px;
    width: 100%;
    color: #000000;
}


.header-navigation-button-join-us-modal {
    position: relative;
    padding: 0 20px 0 43px;
    letter-spacing: 3px;
    height: 44px;
    font-size: 12px;
    font-weight: 900;
    line-height: 14.4px;
    border-radius: 9px;
    border: 1px solid rgb(0, 42, 219);
    margin: 30px 0 30px 0;
    height: 54px;
    max-width: 447px;
    width: 100%;
    color: #000000;
}

/* ======== Warning ============
================================
----- mobile header styles -----
================================
=========== Warning ============ */
.header-navigation-mobile {
    /* display: flex; when shown */
    display: none;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 901;
    padding: 27px 0;
    width: 330px;
}

.header-navigation-mobile-playBtn {
    display: flex;
    align-items: center;
    padding: 10px 25px 10px 20px;
    border: 1px solid rgb(0, 42, 219);
    border-radius: 10px;
    column-gap: 10px;

}

.header-navigation-mobile-playBtn p {
    font-family: 'Adieu';
    font-size: 12px;
    font-weight: 900;
    line-height: 14px;
    letter-spacing: 0;
    color: rgb(10, 30, 76);
}

.header-navigation-mobile-modal {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0px;
    transition: all 0.6s;
    background-color: rgb(174, 213, 240);
    padding: 0 calc(50% - 165px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-navigation-mobile-modal.opened {
    height: calc(100vh - 70px);
}

.header-navigation-mobile-modal-star {
    display: none;
    position: absolute;
    filter: blur(130px);
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 902px;
}

.header-navigation-mobile-modal.opened .header-navigation-mobile-modal-star {
    display: unset;
}

.header-navigation-mobile-modal-btns {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    row-gap: 14px;
}

.header-navigation-mobile-modal-btns-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    border: 1px solid rgb(0, 42, 219);
    border-radius: 10px;
    font-family: 'Adieu';
    color: rgb(10, 30, 76);
    font-size: 12px;
    font-weight: 900;
    line-height: 14px;
    letter-spacing: 0;
    padding: 15px 27px;
}

.header-navigation-mobile-modal-btns-btn img {
    position: absolute;
    left: 27px;
    width: 16px;
    height: 16px;
}

.header-navigation-mobile-modal-btns-btn-discover {
    border: 1px solid white;
    background: rgb(255, 255, 255);

}

.header-navigation-mobile-modal-snowBtn {
    display: flex;
    align-items: center;
    align-self: center;
}

.header-navigation-mobile-modal-snowBtn * {
    color: rgb(10, 30, 76);
    font-family: 'Adieu';
    font-size: 12px;
    font-weight: 900;
    line-height: 14px;
    letter-spacing: 0;
}

.header-navigation-mobile-modal-footer {
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    z-index: 903;
}

.header-navigation-mobile-modal-footer-link {
    text-align: center;
    color: rgb(10, 30, 76);
    font-family: 'Adieu';
    font-size: 12px;
    font-weight: 900;
    line-height: 14px;
    letter-spacing: 0;
    text-transform: uppercase;
}

.header-navigation-mobile-modal-footer-link:nth-of-type(2) {
    margin: 14px 0 31px;
}

.header-navigation-mobile-modal-footer-socials {
    display: flex;
    justify-content: space-between;
    margin-bottom: 21px;
}

.header-navigation-mobile-modal-footer-copyright {
    text-align: center;
    color: rgb(10, 30, 76);

    font-size: 12px;
    font-weight: 400;
    line-height: 140%;
}

@media (max-width: 1024px) {
    .headerBtn {
        column-gap: 4px;
        height: 38px;
        padding: 0 10px 0 12px;
        font-size: 10px;
        letter-spacing: 0;
        border-radius: 9px;
    }
    .header-navigation-logo {
        left: 61%;
    }

    .header-navigation-box {
        column-gap: 10px;
    }
}

@media(max-width: 600px) {
    .header-blur {
        height: 70px;
    }

    .header-navigation.blockNav {
        display: none;
    }

    .header-navigation-mobile {
        display: flex;
    }

    .header-navigation-mobile-burger {
        height: 2px;
        width: 26px;
        background-color: #000000;
        position: relative;
        transition: all 0.3s ease;
    }

    .header-navigation-mobile-burger::after,
    .header-navigation-mobile-burger::before {
        content: '';
        height: 2px;
        width: 26px;
        background-color: #000000;
        position: absolute;
        transition: all 0.3s ease;
    }

    .header-navigation-mobile-burger::after {
        top: 6px;
    }

    .header-navigation-mobile-burger::before {
        top: -6px;
    }

    .header-navigation-mobile-burger.open {
        background-color: transparent;
    }

    .header-navigation-mobile-burger.open::after {
        top: 0;
        transition: all 0.3s ease;
        transform: rotate(45deg);
    }

    .header-navigation-mobile-burger.open::before {
        top: 0;
        transition: all 0.3s ease;
        transform: rotate(-45deg);
    }

    .header-navigation-button-plau-mini {
        position: relative;
        padding: 0 20px 0 43px;
        letter-spacing: 3px;
        height: 44px;
        font-size: 12px;
        font-weight: 900;
        line-height: 14.4px;
        border-radius: 9px;
        border: 1px solid rgb(0, 42, 219);
        color: #0A1E4C;
    }

    .header-navigation-button-plau-mini::before {
        content: url('../assets/polygons/trianglePolygon.svg');
        margin: 0 15px 0 0;
        position: absolute;
        left: 14px;
        top: 11px;
        transform: scale(0.8);
    }

    .FutureAwaitsStar-modal {
        position: absolute;
        bottom: 0;
        left: 0;
        transform: scale(3.5);
    }
}