.JoinGurtam {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: clip;
    overflow-y: visible;
}

.JoinGurtam-title {
    text-align: center;
    font-family: "Adieu";
    font-size: 64px;
    font-weight: 900;
    line-height: 78px;
    color: #002ADB;
    margin: -123px 0 0 0;
}

.JoinGurtam-text {
    text-align: center;
    padding: 20px 0 30px;
    max-width: 600px;
    font-family: "Adieu";
    font-size: 32px;
    font-weight: 900;
    line-height: 38px;
    margin: 4px 0 30px;
    color: #0A1E4C;
}

.JoinGurtam-button-wrapper {
    position: relative;
}

.leftcookies {
    position: absolute;
    left: -130px;
    top: -31px;
    left: -130px;
    top: -31px;
    z-index: 6;
}

.rightcookies {
    position: absolute;
    top: -52px;
    right: -64px;
    top: -52px;
    right: -64px;
    z-index: 6;
    width: 105px;
    width: 105px;
}

.leftStarJoin {
    position: absolute;
    top: -28px;
    left: -53px;
    z-index: -2;
    z-index: 5;
}

.righttStarJoin {
    position: absolute;
    top: 13px;
    right: -92px;
    z-index: 5;
}

.dragon {
    position: absolute;
    z-index: 1;
    top: -65px;
    top: -65px;
    left: 27px;
}
.JoinGurtam-button {
    z-index: 10;
    font-family: "Adieu";
    color: rgb(10, 30, 76);
    font-size: 22px;
    font-weight: 900;
    line-height: 26px;
    display: flex;
    align-items: center;
    column-gap: 30px;
    padding: 0 48px 0 25px;
    position: relative;
    height: 60px;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    transition: all 0.6s;
}

.JoinGurtam-button:hover {
    transform: scale(1.05);
}

.JoinGurtam-button:active {
    bottom: -2px;
}

.animat {
    animation: rotate 3s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes riseAndFall {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0);
    }
}

.dragAnimated {
    animation: riseAndFall 3s ease-in-out infinite;
}

#block1,
#block2,
#block3,
#block4 {
    transition: transform 0.5s ease;
}

.JoinGurtamStar {
    height: 730px;
    width: 730px;
    position: absolute;
    z-index: 0;
    right: calc(100vw / 2 - 730px / 2);
    bottom: calc(0px - 730px / 2);
    filter: blur(175px);
}

@media (max-width: 1024px) {
    .JoinGurtam{
        padding: 450px 0 260px;
    }
    .JoinGurtam-title {
        font-size: 41px;
        line-height: 48px;

    }
    .JoinGurtam-text {
        line-height: 32px;
        font-size: 26px;
    }
}

@media (max-width: 917px) {
    .JoinGurtam-title {
        padding-top: 100px;
    }
}

@media (max-width: 600px) {
    .JoinGurtam {
        padding: 200px 0 260px;
    }
    .JoinGurtam-title {
        font-size: 40px;
        letter-spacing: 0;
    }

    .JoinGurtam-text {
        font-size: 20px;
        line-height: 24px;
    }

    .JoinGurtam-button {
        padding: 18px 13px;
        column-gap: 22px;
        font-size: 14px;
        line-height: 17px;
    }

    .leftcookies {
        position: absolute;
        left: -17px;
        top: -83px;
        z-index: 6;
        width: 150px;
    }

    .leftStarJoin {
        position: absolute;
        top: -72px;
        left: 48px;
        z-index: -2;
        width: 78px;
        z-index: 5;
    }

    .rightcookies {
        position: absolute;
        top: 20px;
        right: 50px;
        z-index: 6;
        width: 84px;
    }

    .righttStarJoin {
        position: absolute;
        top: 46px;
        right: 40px;
        z-index: 5;
        width: 66px;
    }

    .dragon {
        position: absolute;
        top: 30px;
        left: 27px;
    }
}

/* @media (max-width: 406px) {
    .leftcookies {
        position: absolute;
        left: -17px;
        top: -39px;
        z-index: 6;
        width: 150px;
    }

    .leftStarJoin {
        position: absolute;
        top: -32px;
        left: 48px;
        z-index: -2;
        width: 78px;
        z-index: 5;
    }

    .rightcookies {
        position: absolute;
        top: 67px;
        right: 50px;
        z-index: 6;
        width: 84px;
    }

    .righttStarJoin {
        position: absolute;
        top: 99px;
        right: 40px;
        z-index: 5;
        width: 66px;
    }

    .dragon {
        position: absolute;
        top: 73px;
        left: 10px;
    }
} */