.JoinGurtam {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: 100% 100%;
}

.JoinGurtam-title {
    text-align: center;
    color: #002ADB;
    font-size: 64px;
    font-weight: 900;
    line-height: 78px;
    margin: -123px 0 0 0;
}

.JoinGurtam-text {
    text-align: center;
    padding: 20px 0 30px;
    max-width: 600px;
    font-size: 32px;
    font-weight: 900;
    line-height: 38px;
    margin: 4px 0 30px;
    color: #0A1E4C;
}

.JoinGurtam-button-wrapper {
    position: relative;
}

.leftcookies {
    position: absolute;
    left: -88px;
    top: 12px;
    z-index: 6;
}

.rightcookies {
    position: absolute;
    top: -29px;
    right: -121px;
    z-index: 6;
}

.leftStarJoin {
    position: absolute;
    top: -28px;
    left: -53px;
    z-index: -2;
    z-index: 5;
}

.righttStarJoin {
    position: absolute;
    top: 13px;
    right: -92px;
    z-index: 5;
}

.dragon {
    position: absolute;
    top: -5px;
    left: 27px;
}


.JoinGurtam-button {
    position: relative;
    z-index: 10;
    border-radius: 15px;
    background: rgb(255, 105, 180);
    padding: 20px 50px;
    font-size: 35px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -1.2%;
    color: #000000;
    transition: all 0.5s;
}

.JoinGurtam-button-wrapper::before {
    content: url(./../../assets/bigBlueStar.svg);
    position: absolute;
    z-index: 9;
    left: -73px;
    bottom: -80px;
}

.JoinGurtam-button-wrapper::after {
    content: url(./../../assets/bigYellowStar.svg);
    position: absolute;
    z-index: 9;
    right: -73px;
    top: -80px;
}

.JoinGurtam-button:hover {
    background: rgb(214, 89, 152);
}

.JoinGurtam-button:active {
    bottom: -2px;
}

.animat {
    animation: rotate 3s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.JoinGurtamStar{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    bottom: -800px;
}

@keyframes riseAndFall {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0);
    }
}

.dragAnimated {
    animation: riseAndFall 3s ease-in-out infinite;
}

