.OurBenefits {
    padding-top: 170px;
    position: relative;
    scroll-snap-align: center;
    height: 100vh;
    overflow-x: clip;
    overflow-y: visible;
}

.OurBenefits-title {
    margin-bottom: 34px;
    font-family: "Adieu";
    font-weight: 900;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    color: #002ADB;
    letter-spacing: 0;
    /* margin-top: 91px; */
}

.OurBenefits-cards {
    display: flex;
    justify-content: center;
}

.OurBenefits-videos {
    position: relative;
}

.cokkiesLeft {
    position: absolute;
    top: 121px;
    left: -103px;
    z-index: 2;
    width: 162px;
}

.cokkiesRight {
    position: absolute;
    top: 64px;
    right: -70px;
    z-index: 2;
    width: 172px;
}

.yellowStar,
.redStar {
    position: absolute;
    z-index: 1;
}

.animate {
    animation: rotate 3s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.yellowStar {
    left: -54px;
    top: 102px;
}

.redStar {
    top: 147px;
    right: -104px;
}

.OurBenefits-cards * {
    color: rgb(0, 0, 0);
}

.OurBenefits-cards-card {
    position: relative;
    z-index: 10;
    width: 382px;
    height: 432px;
    transition: all 0.5s;
    border-radius: 15px;
    padding: 20px;
    overflow: hidden;
}

.OurBenefits-cards-card::after {
    position: absolute;
    bottom: -137px;
    right: -98px;
}

.OurBenefits-cards-card:hover {
    transform: scale(1.05);
    z-index: 11;
}

.OurBenefits-cards-card.first {
    background-color: rgb(174, 214, 241);
}

.OurBenefits-cards-card.first::after {
    content: url(./../../assets/benefitsStars/firstBenefitStar.svg);
}

.OurBenefits-cards-card.second {
    background-color: rgb(255, 239, 150);
    top: 25px;
    left: -60px;
}

.OurBenefits-cards-card.second::after {
    content: url(./../../assets/benefitsStars/secondBenefitStar.svg);
}

.OurBenefits-cards-card.third {
    background-color: rgb(255, 168, 212);
    top: 50px;
    left: -120px;
}

.OurBenefits-cards-card.third::after {
    content: url(./../../assets/benefitsStars/thirdBenefitStar.svg);
    bottom: -129px;
    right: -161px;
}

.OurBenefits-cards-card-title {
    font-size: 50px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -1.8%;
    margin-bottom: 20px;
}

.OurBenefits-cards-card-text {
    font-size: 23px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: -0.5%;
}

.boxVideo {
    position: relative;
    z-index: 10;
    max-width: 721px;
    height: 358px;
}

.play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* cursor: pointer; */
}

.video-container {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.OurBenefitsStar {
    height: 730px;
    width: 730px;
    position: absolute;
    z-index: -1;
    right: calc(100vw / 2 - 730px / 2);
    bottom: calc(0px - 730px / 2);
    filter: blur(175px);
}

.boxVideo {
    width: 721px;
    height: 400px;
}

@media(max-width: 917px) {
    .OurBenefits-title {
        font-size: 39px;
        line-height: 46px;
        padding-bottom: 100px;
    }

    .cokkiesRight {
        top: 268px;
        right: 163px;
    }

    .redStar {
        top: 343px;
        right: 131px;
    }

    .cokkiesLeft {
        top: -72px;
        left: 116px;
    }

    .yellowStar {
        left: 166px;
        top: -72px;
    }

    .boxVideo {
        width: 600px;
        height: 300px;
    }
}

@media(max-width: 600px) {
    .play {
        top: 25%;
    }

    .OurBenefits-title {
        font-size: 40px;
        font-weight: 900;
        line-height: 48px;
        letter-spacing: 0;
    }

    .cokkiesRight {
        top: 134px;
        right: 163px;
        width: 112px;
    }

    .redStar {
        top: 176px;
        right: 149px;
        width: 78px;
    }

    .cokkiesLeft {
        top: -58px;
        left: 116px;
        width: 112px;
    }

    .yellowStar {
        left: 165px;
        top: -59px;
        width: 71px;
    }
}




@media(max-width: 434px) {
    .OurBenefits {
        padding-top: 42px;
        height: 53vh !important;
    }

    .play {
        position: absolute;
        top: 33%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* cursor: pointer; */
    }

    .OurBenefits-title {
        font-size: 48px;
        margin-bottom: 76px;
        line-height: 46px;
    }

    .cokkiesRight {
        top: 156px;
        right: 144px;
    }

    .redStar {
        top: 203px;
        right: 129px;
    }

    .cokkiesLeft {
        top: -58px;
        left: 116px;
        width: 112px;
    }

    .yellowStar {
        left: 165px;
        top: -59px;
        width: 71px;
    }
}

@media(max-width: 382px) {
    .play {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* cursor: pointer; */
    }

    .OurBenefits-title {
        font-size: 48px;
        margin-bottom: 76px;
        line-height: 46px;
    }

    .cokkiesRight {
        top: 134px;
        right: 110px;
    }

    .redStar {
        top: 183px;
        right: 97px;
    }

    .cokkiesLeft {
        top: -58px;
        left: 58px;
        width: 112px;
    }

    .yellowStar {
        left: 92px;
        top: -59px;
        width: 71px;
    }
}